@model PeopleManager.Model.Person

<div class="row">
    <div class="col-md-4">@Html.LabelFor(m => m.FirstName):</div>
    <div class="col-md-8">@Model.FirstName</div>
</div>
<div class="row">
    <div class="col-md-4">@Html.LabelFor(m => m.Name):</div>
    <div class="col-md-8">@Model.Name</div>
</div>
<div class="row">
    <div class="col-md-4">@Html.LabelFor(m => m.Email):</div>
    <div class="col-md-8">@Model.Email</div>
</div>
